  /****
  Make the default mapbox controls larger, smaller box shadow and less rounded.
  ****/

  .mapboxgl-ctrl-group>button {
    width: 36px;
    height: 36px;
  }
  .mapboxgl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  /****
  ****/

  .mgl-layerControl {
    width: 36px;
    height: 36px;
    color: transparent;
    background-color: white;
    overflow: hidden;
    background-image: url("https://icongr.am/material/layers.svg");
    background-position: center;
  }

  .mgl-layerControl .layerControlDirectory {
    display: none;
  }

  .mgl-layerControl::before {
    height: 14px;
    width: 14px;
    border: 1px solid;
    border-radius: 2px;
    left: 0px;
    top: 3px;
  }

  .mgl-layerControl:hover, 
  .mgl-layerControl:hover .layerControlDirectory {
    height: auto;
    width: auto;
    color: inherit;
    overflow-x: auto;
    display: block;
    background-image: none;
  }

  /*https://codepen.io/takeradi/pen/rjJpKK*/

  .checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
  }

  .checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
  }

  .checkbox label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
  }

  .checkbox label::before,
  .checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
  }

  /*Outer box of the fake checkbox*/
  .checkbox label::before {
    height: 14px;
    width: 14px;
    border: 1px solid;
    border-radius: 2px;
    left: 0px;
    top: 3px;
  }

  /*Checkmark of the fake checkbox*/
  .checkbox label::after {
    height: 4px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 3px;
    top: 7px;
  }

  /*Hide the checkmark by default*/
  .checkbox input[type="checkbox"]+label::after {
    content: none;
    color: white;
  }

  /*Unhide on the checked state*/
  .checkbox input[type="checkbox"]:checked+label::after {
    content: "";
  }

  /*Adding focus styles on the outer-box of the fake checkbox*/
  .checkbox input[type="checkbox"]:checked+label::before {
    background: #121212;
  }

  /*Adding focus styles on the outer-box of the fake checkbox*/
  .checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }