  /****
  Make the default mapbox controls larger, smaller box shadow and less rounded.
  ****/

  .mapboxgl-ctrl-group>button {
    width: 36px;
    height: 36px;
  }
  .mapboxgl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  /* .mapboxgl-ctrl-top-right {
    right: -100px;
  }
  .mapboxgl-ctrl-top-left {
    left: -100px
  }
  .mapboxgl-ctrl-top-right,
  .mapboxgl-ctrl-top-left {
    transition: 0.3s ease-in-out;
    height: 100vh;
    min-width: 60px;
  }

  .mapboxgl-ctrl-top-right.visible {
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 60px;
  } */

  /****
  ****/

  .mgl-layerControl {
    font-size: 16px;
  }

  /****
  ****/

  .mgl-layerControl.collapsed {
    width: 36px;
    height: 36px;
    overflow: hidden;
  }
  .mgl-layerControl.collapsed > div {
    display: none;
  }

  .mgl-layerControl.collapsed:hover > div {
    display: block;
  }

  .mgl-layerControlCover {
    width: 100%;
    height: 100%;
  }

  .mgl-layerControl:not(.collapsed) > img,
  .mgl-layerControl.collapsed:hover > img {
    display: none;
  }

  .mgl-layerControl:not(.collapsed),
  .mgl-layerControl.collapsed:hover {
    height: auto;
    width:  calc(100% + 20px);
    overflow-x: hidden;
    display: block;
    overflow-y: auto;
  }



  /****
  ****/

  .mgl-layerControl button {
    width: 30px;
    height: 36px;
    border: none;
    opacity: 0.4;
    float: left;
    background-size: 24px;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('minus.svg');    
  }

  .mgl-layerControl .layer {
    margin: 8px;
  }

  .mgl-layerControl icon {
    margin-right: 6px
  }

  /*https://codepen.io/takeradi/pen/rjJpKK*/

  /* .checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
  }

  .checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
  }

  .checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
  }

  .checkbox label::before,
  .checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  .checkbox label::before {
    height: 14px;
    width: 14px;
    border: 1px solid;
    border-radius: 2px;
    left: 0px;
    top: 3px;
  }

  .checkbox label::after {
    height: 4px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 3px;
    top: 7px;
  }

  .checkbox input[type="checkbox"]+label::after {
    content: none;
    color: white;
  }

  .checkbox input[type="checkbox"]:checked+label::after {
    content: "";
  }

  .checkbox input[type="checkbox"]:checked+label::before {
    background: #121212;
  }

  .checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
  } */

  /****
INPUT SLIDERS
****/

input.slide-toggle {
  vertical-align: top;
  margin-top: 1px;
  margin-right: 8px;
  cursor: pointer;
  border: solid thin #bcc3ce;
}

input.slide-toggle:focus {
  border-color: #121212; 
}

input.slide-toggle:focus:after {
  height: 12px;
}


input.slide-toggle {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 28px;
  height: 16px;
  background-color: #bcc3ce;
  border-radius: 25px;
  transition: 0.2s;
  background-clip: padding-box;
}

input.slide-toggle:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: none;
  transition: 0.2s;
  border: solid thin #bcc3ce;
}

input.slide-toggle:checked {
  box-shadow: inset 12px 0 0 0 #5685cc;
  border-color: #5685cc;
}

input.slide-toggle:checked:after {
  left: 12px;
  border: solid thin #5685cc;
}